{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'row'>
  <div class = "col-md-3">
    <h2> Categories </h2>
    {% for category in categories %}
    <div class = 'categories padding-top'>
      <a href = {{url_for('showItems', category_id = category.id)}}><h4>{{category.name}}</h4></a>
    </div>
    {% endfor %}
  </div>
  <div class = 'col-md-9'>
       <h3> {{item.name}} </h3>
       <p> {{item.description}} </p>
       <div class = 'btn'>  <a href = {{url_for('editItem', category_id = category.id, item_id = item.id)}}> Edit Item </a> </div>
       <div class = 'btn'> <a href = {{url_for('deleteItem', category_id = category.id, item_id = item.id)}}> Delete Item </a> </div>
  </div> 
</div>
{% endblock %}

