{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'row'>
  <div class = "col-md-3">
    <h2> Categories </h2>
    {% for category in categories %}
    <div class = 'categories padding-top'>
      <a href = {{url_for('showItems', category_id = category.id)}}><h4>{{category.name}}</h4></a>
    </div>
    {% endfor %}
  </div>
  <div class = 'col-md-9'>
    <h2> Items </h2>
      {% for item in items %}
      <li class = 'items, padding-top'>
        <a href = {{url_for('showItemDetail', category_id = item.category.id, item_id = item.id )}}>{{item.name}}</a>
        <em>( {{item.category.name}} )</em>
      </li>
      {% endfor %}
  </div>
</div>

{% endblock %}
